<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Guillaume Rabiller" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page affichage des statuts">

    <!-- CSS + Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Liste des Statuts</title>
</head>

<body class="container">

    <div id="main">

        <!-- ------------------------    HEADER    ---------------------------- -->

        <div th:replace="Fragments/header :: header"></div>


        <!--  --------------------    MAIN DE LA PAGE     -------------------  -->


        <h1>Liste des statuts :</h1>
        <div class="row">
            <table border="1" class="table table-striped table-hover">
                <tr>
                    <th>id</th>
                    <th>Nom du Statut</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
                <tr th:each="statut:${statutList}">
                    <td th:text="${statut.id}"></td>
                    <td th:text="${statut.nomStatut}"></td>
                    <td><a th:href="@{/updateStatut/{id}(id=${statut.id})}">Edit</a></td>
                    <td><a th:href="@{/deleteStatut/{id}(id=${statut.id})}">Delete</a></td>
                </tr>
            </table>
        </div>

        <a th:href="@{/index}">Retour à l'index</a>
        <div>
        <a th:href="@{/createStatut}">Création d'un nouveau statut</a>
        </div>


        <!-- ------------------------    FOOTER    ---------------------------- -->

        <div th:replace="Fragments/footer :: footer"></div>

    </div>


</body>
</html>