body, html {
    height:100%;
}

#main {
    min-height:100%;
    position:relative;
}

h1 {
    color:#8B265C;
}

h2 {
    color:#5C8B26;
}

h3 {
    color:#265C8B;
}


table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

table tr td a {
    display:block;
    height:100%;
    width:100%;
}

.tablefacture {
    table-layout: auto;
    width: 300px ;
}

.error{
    color:red;
}


.gras{
    font-weight: bolder;
    font-size: 1.1em;
}

.floatright {
    float: right;
}

.aligncenter {
    text-align: center ;
}

.marge {
    margin-left: 5em;
}

.btnmenu {
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnmenuserveur {
    height:400px;
    display: block;
    font-weight: 600;
    line-height: 3;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* ------------------    BOUTONS INPUT + RESET + BACK DANS LE BODY    -----------------  */

input[type=submit], input[type=reset], .backbutton {
    padding:5px 15px;
    background:#265C8B;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

input[type=submit]:hover, input[type=reset]:hover, .backbutton:hover {
    padding:5px 15px;
    background: #8B265C ;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.1em;
    text-decoration: none;
}



/* ------------------    ICONES DANS LES TABLEAUX    -----------------  */

td a i {
    color:#5C8B26;
}

td a i:hover{
    color:#8B265C;
    font-size:1.2em ;
}

/* ------------------    HEADER    -----------------  */

header {
    height: 130px;
    background-color: #265C8B;
    color: #E7E7E7;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
}

header img {
    padding-right: 10px;
    padding-top: 10px;
}


/* ------------------    FOOTER    -----------------  */

footer {
    height: 45px;
    background-color: #265C8B;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a:link, footer a:visited  {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
}

footer a:hover, footer a:active {
    background-color: white;
    color: black;
    border-radius: 5px;
}

footer input[type=submit] {
    padding:5px 15px;
    background:#265C8B;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

footer input[type=submit]:hover {
    padding:5px 15px;
    background:white;
    color: black;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/* ------------------    FENETRE POPUP    -----------------  */

{box-sizing: border-box;}


/* The popup form - hidden by default */
.form-popup {
    display: none;
    border: 3px solid #f1f1f1;
    position: fixed;
    bottom: 250px;
    left: 300px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #265C8B;
    color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #dddddd;
    outline: none;
}
