<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Guillaume Rabiller" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page liste Tables">

    <!-- CSS + Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/610665bae1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Liste des Tables</title>
</head>

<body class="container">

    <!-- ------------------------    HEADER    ---------------------------- -->

    <div th:replace="Fragments/header :: header"></div>

    <!--  --------------------    MAIN DE LA PAGE     -------------------  -->

    <div class="row">
        <a class="btn btn-outline-secondary" th:href="@{/index}" role="button"><i class="fas fa-home"></i> Retour à l'index</a>
    </div>

    <br>
    <br>

    <h1>Liste des tables :</h1>
    <div class="row" style="width: 95% ; padding-left: 40px ">
        <table border="1" class="table table-striped table-hover table-sm">
            <tr>
                <th sec:authorize="hasRole('ADMIN')">id</th>
                <th>Numéro de la table</th>
                <th>Description</th>
                <th sec:authorize="hasRole('ADMIN')">Editer</th>
                <th sec:authorize="hasRole('ADMIN')">Supprimer</th>
            </tr>
            <tr th:each="table:${tableList}">
                <td sec:authorize="hasRole('ADMIN')" th:text="${table.id}"></td>
                <td th:text="${table.noTable}"></td>
                <td th:text="${table.description}"></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/updateTable/{id}(id=${table.id})}"><i class="far fa-edit"></i></a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/verifDeleteTable/{id}(id=${table.id})}"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        </table>
    </div>



    <div sec:authorize="hasRole('ADMIN')">
    <a class="btn btn-outline-primary"  th:href="@{/createTable}" role="button"><i class="fas fa-plus"></i> Création d'une nouvelle table</a>
    </div>

    <br>
    <br>



    <!-- ------------------------    FOOTER    ---------------------------- -->

    <div th:replace="Fragments/footer :: footer"></div>




</body>
</html>