<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Guillaume Rabiller" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page liste de frigos">

    <!-- CSS + Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/610665bae1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Liste des Frigos</title>
</head>

<body class="container">

    <div id="main">

        <!-- ------------------------    HEADER    ---------------------------- -->

        <div th:replace="Fragments/header :: header"></div>


        <!--  --------------------    MAIN DE LA PAGE     -------------------  -->

        <div class="row">
            <a class="btn btn-outline-secondary" th:href="@{/index}" role="button"><i class="fas fa-home"></i> Retour au Tableau de Bord</a>
        </div>


        <br>
        <br>


        <h1>Liste des frigos :</h1>
        <div class="row" style="width: 95% ; padding-left: 40px ">
            <table border="1" class="table table-striped table-hover table-sm">
                <tr>
                    <th sec:authorize="hasRole('ADMIN')">id</th>
                    <th>Nom du Frigo</th>
                    <th>Description</th>
                    <th>Temp mini</th>
                    <th>Temp maxi</th>
                    <th>Relevés T°</th>
                    <th sec:authorize="hasRole('ADMIN')">Editer</th>
                    <th sec:authorize="hasRole('ADMIN')">Supprimer</th>
                </tr>
                <tr th:each="frigo:${frigoList}">
                    <td sec:authorize="hasRole('ADMIN')" th:text="${frigo.id}"></td>
                    <td th:text="${frigo.nomFrigo}"></td>
                    <td th:text="${frigo.descFrigo}"></td>
                    <td th:text="${frigo.tempMini}"></td>
                    <td th:text="${frigo.tempMaxi}"></td>
                    <td><a th:href="@{/historiqueFrigo/{id}(id=${frigo.id})}"><i class="fas fa-history"></i></a></td>
                    <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/updateFrigo/{id}(id=${frigo.id})}"><i class="far fa-edit"></i></a></td>
                    <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/verifDeleteFrigo/{id}(id=${frigo.id})}"><i class="far fa-trash-alt"></i></a></td>
                </tr>
            </table>
        </div>

        <div sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-outline-primary" th:href="@{/createFrigo}" role="button"><i class="fas fa-plus"></i> Création d'un frigo</a>
        </div>


        <br>
        <br>


        <!-- ------------------------    FOOTER    ---------------------------- -->

        <div th:replace="Fragments/footer :: footer"></div>

    </div>


</body>
</html>