<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Guillaume Rabiller" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page d'erreur, redirection vers le menu">

    <!-- CSS + Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Page d'erreur</title>
</head>

<body class="container no-padding">

    <!-- ------------------------    HEADER    ---------------------------- -->

    <div th:replace="Fragments/header :: header"></div>



    <!--  --------------------    MAIN DE LA PAGE     -------------------  -->


    <div class="row">
        <p>Oups ! Nous avons rencontré une erreur !
        <br>
        Désolé pour la gêne occasionnée !
        </p>

        <br>
        <br>
        <a class="btn btn-outline-secondary" th:href="@{/index}" role="button"><i class="fas fa-home"></i> Retour au Tableau de Bord</a>
    </div>




</body>
</html>