<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Guillaume Rabiller" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page index UTILISATEUR pour l'application de Gestion de Restaurant">

    <!-- CSS + Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/610665bae1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Projet NFA019- Gestion restaurant</title>


</head>

<body class="container">

    <!-- ------------------------    HEADER    ---------------------------- -->

    <div th:replace="Fragments/header :: header"></div>



    <!--  --------------------    MAIN DE LA PAGE     -------------------  -->

    <div class="row">
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/createNote}" role="button"><i class="fas fa-cart-plus"></i>   Nouvelle Commande - <span th:text="${tableDispo}"></span> tables restantes dispo</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/readNote}" role="button"><i class="fas fa-edit"></i>   Editer / Facturer Commande - <span th:text="${noteEnCours}"></span> commandes en cours</a>
        </div>
    </div>


    <!-- ------------------------    FOOTER    ---------------------------- -->

    <div th:replace="Fragments/footer :: footer"></div>



</body>

</html>