<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Guillaume Rabiller" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page index ADMINISTRATEUR pour l'application de Gestion de Restaurant">

    <!-- CSS + Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/610665bae1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Projet NFA019- Gestion restaurant</title>


</head>

<body class="container">

    <!-- ------------------------    HEADER    ---------------------------- -->

    <div th:replace="Fragments/header :: header"></div>



    <!--  --------------------    MAIN DE LA PAGE     -------------------  -->

    <div class="row">
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/readProduit}" role="button"><i class="fas fa-carrot"></i>   Gestion des Produits</a>
        </div>
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/readCategorie}" role="button"><i class="far fa-folder"></i>   Gestion des Catégories produit</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/readUtil}" role="button"><i class="fas fa-users"></i>   Gestion des Utilisateurs</a>
        </div>
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/readFrigo}" role="button"><i class="fas fa-boxes"></i>   Gestion des Frigos</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/readCategoriePlat}" role="button"><i class="fas fa-folder"></i>   Gestion des Catégories de Plat</a>
        </div>
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/readPlat}" role="button"><i class="fas fa-carrot"></i>   Gestion des Plats</a>
        </div>
    </div>
    <div>
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/readTable}" role="button"><i class="fas fa-boxes"></i>   Gestion des Tables</a>
        </div>
        <div class="col">
            <a class="btnmenu btn-outline-secondary btn-lg" th:href="@{/readNote}" role="button"><i class="fas fa-boxes"></i>   Gestion des Notes</a>
        </div>
    </div>


    <br>
    <br>
    <h2>Attention ! Produits à contrôler !!</h2>

    <div class="row" style="width: 95% ; padding-left: 40px ">
        <table border="1" class="table table-striped table-hover table-sm">
            <tr>
                <th>id</th>
                <th>Nom du Produit</th>
                <th>Catégorie</th>
                <th>Date / heure d'entrée</th>
                <th>DLC</th>
                <th>Statut</th>
            </tr>
            <tr th:each="stock:${stockList}" th:if="${stock.statut} != 'En Stock'">
                <td th:text="${stock.id}"></td>
                <td th:text="${stock.nomProduit}"></td>
                <td th:text="${stock.categorie}"></td>
                <td th:text="${stock.dateEntree}"></td>
                <td th:text="${stock.dlc}"></td>
                <td th:text="${stock.statut}" th:style="${stock.colorStatut} == 2 ? 'background: #F6A80B' : 'background: #A73000'  "></td>
            </tr>
        </table>
    </div>

    <a class="btn btn-outline-primary" th:href="@{/readStock}" role="button"><i class="fas fa-utensils"></i> Gestion du stock</a>

    <br>
    <br>
    <h2>Relevé des températures frigo</h2>

    <div class="row" style="width: 95% ; padding-left: 40px ">
        <table th:each="temp:${tempList}"  border="1" class="table table-striped table-hover col">
            <tr >
                <td th:text="${temp.getNomFrigo()}"></td>
                <td th:text="${temp.getTempMatin()} != '-100.0' ? ${temp.getTempMatin()} : '-.-' "></td>
                <td th:text="${temp.getTempAprem()} != '-100.0' ? ${temp.getTempAprem()} : '-.-' "></td>
            </tr>
        </table>
    </div>

     <br>
     <br>



     <!-- ------------------------    FOOTER    ---------------------------- -->

    <div th:replace="Fragments/footer :: footer"></div>


</body>

</html>